@font-face {
  font-family: KGHAPPYSolid;
  src: url("../../public/fonts/KGHAPPYSolid.ttf");
}
.team {
  width: 100%;
  background-color: #7c3469;
  height: 100%;
  border-radius: 40px;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}
.title {
  padding: 40px !important;
  color: white;
  margin: auto;
  margin-left: 40%;
  margin-bottom: 50px;
  font-family: "KGHAPPYSolid";
}
.line2 {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 50%;
  padding-bottom: 500px !important;
  padding-left: 10px !important;
}
.img {
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  padding-left: 10px !important;
  padding-bottom: 100px !important;
}

@media (max-width: 1000px) {
  .img {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding-left: 10px !important;
    padding-bottom: 100px !important;
  }
}
@media (max-width: 700px) {
  .img {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding-left: 10px !important;
    padding-bottom: 100px !important;
  }
}
@media (max-width: 415px) {
  .img {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding-left: 10px !important;
    padding-bottom: 100px !important;
  }
  .team {
    width: 100%;
    background-color: #7c3469;
    height: 100%;
 
    border-radius: 40px;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
  }
}