@font-face {
  font-family: KGHAPPYSolid;
  src: url("../../public/fonts/KGHAPPYSolid.ttf");
}
.roadmap1 {
  background-image: url("../../public/images/rm1back.png");
  background-repeat: no-repeat;
  background-position: 150px 10px;
}
.roadmap1 h3 {
  position: absolute;
  color: white;
  margin-left: 520px;
  margin-top: -180px;
  font-family: "KGHAPPYSolid";
}
.roadmap1 ul {
  position: absolute;
  color: white;
  font-size: 18px;
  margin-left: 650px;
  margin-top: -250px;
  font-family: "KGHAPPYSolid";
}
.roadmap1 ul li {
  padding: 5px;
}
.roadmap2 {
  background-image: url("../../public/images/rmback2.png");
  background-repeat: no-repeat;
  background-position: 150px 40px;
  margin-top: 50px !important;
}
.roadmap2 img {
  margin-left: -20px !important;
}
.roadmap2 h3 {
  position: absolute;
  color: white;
  margin-left: 520px;
  margin-top: -180px;
  font-family: "KGHAPPYSolid";
}
.roadmap2 ul {
  position: absolute;
  color: white;
  font-size: 18px;
  margin-left: 670px;
  margin-top: -250px;
  font-family: "KGHAPPYSolid";
}
.roadmap2 ul li {
  padding: 5px;
}
.roadmap3 {
  background-image: url("../../public/images/rmback3.png");
  background-repeat: no-repeat;
  background-position: 150px 30px;
  margin-top: 50px !important;
}
.roadmap3 h3 {
  position: absolute;
  color: white;
  margin-left: 550px;
  font-family: "KGHAPPYSolid";
  margin-top: -180px;
}
.roadmap3 ul {
  position: absolute;
  color: white;
  font-family: "KGHAPPYSolid";
  font-size: 20px;
  margin-left: 700px;
  margin-top: -220px;
}
.roadmap3 ul li {
  padding: 5px;
}
.title {
  color: white;
  margin: auto;
  margin-left: 40%;
  margin-bottom: 50px;
  font-family: "KGHAPPYSolid";
}

@media (max-width: 1200px) {
  .roadmap1 h3 {
    position: absolute;
    color: white;
    margin-left: 480px;
    margin-top: -180px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap1 ul {
    position: absolute;
    color: white;
    font-size: 18px;
    width: 300px;
    margin-left: 630px;
    margin-top: -250px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 h3 {
    position: absolute;
    color: white;
    margin-left: 480px;
    margin-top: -180px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 ul {
    position: absolute;
    color: white;
    font-size: 15px;
    width: 300px;
    margin-left: 630px;
    margin-top: -250px;
    font-family: "KGHAPPYSolid";
  }
}
@media (max-width: 1000px) {
  .roadmap1 h3 {
    position: absolute;
    color: white;
    margin-left: 480px;
    margin-top: -290px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap1 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 450px;
    margin-top: -250px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 h3 {
    position: absolute;
    color: white;
    margin-left: 480px;
    margin-top: -270px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 450px;
    margin-top: -230px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap3 h3 {
    position: absolute;
    color: white;
    margin-left: 480px;
    margin-top: -240px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap3 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 450px;
    margin-top: -190px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 img {
    margin-left: -32px !important;
  }
  .roadmap3 img {
    margin-left: -32px !important;
  }
}
@media (max-width: 700px) {
  .roadmap1 {
    background-image: none;
  }
  .mobilroad1 {
    width: 400px;
    height: 400px;

    margin: auto;
  }
  .roadmap2 {
    background-image: none;
    width: 400px;
    height: 100%;
    margin-top: -50px !important;
  }
  .roadmap3 {
    background-image: none;
    width: 400px;
    height: 100%;
    margin-top: -50px !important;
  }
  .roadmap1 h3 {
    position: absolute;
    color: white;
    margin-left: 10px;
    margin-top: -290px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap1 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 180px;
    margin-top: -380px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 h3 {
    position: absolute;
    color: white;
    margin-left: 10px;
    margin-top: -290px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 180px;
    margin-top: -380px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap3 h3 {
    position: absolute;
    color: white;
    margin-left: 10px;
    margin-top: -340px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap3 ul {
    position: absolute;
    color: white;
    font-size: 16px;
    width: 250px;
    margin-left: 180px;
    margin-top: -380px;
    font-family: "KGHAPPYSolid";
  }
  .roadmap2 img {
    margin-left: 32px !important;
  }
  .roadmap3 img {
    margin-left: 32px !important;
  }
  .title {
    color: white;
    margin: auto;
    margin-left: 30% !important;
    margin-bottom: 50px;
    font-family: "KGHAPPYSolid";
  }
}
