@font-face {
  font-family: kghappy;
  src: url("../public/fonts/KGHAPPY.ttf");
}
.BACKGROUND {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-image: url("../public/images/layer22.png"),
    url("../public/images/layer23.png"), url("../public/images/ltop.png"),
    url("../public/images/ltop.png"), url("../public/images/layerrigth2.png");
  background-repeat: no-repeat;
  background-size: 100% 1012px, 100% 1012px, 100% 1012px, 100% 1012px;
  background-position: left 2000px, left 3400px, right 1400px, right 800px,
    right 2400px;
  margin: auto;
  width: 100%;
  height: 5344px;
  z-index: 12;
  background-color: #1b0a32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: kghappy;
  background-color: #1b0a32;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
.containerb {
  margin: 0 auto;
  width: 100%;
}
.containerroad {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  margin-left: -50px;
}
.MINT {
  margin-left: 100px;
}
.Go_To_APP {
  margin-right: -50px !important;
}
header {
  /* background-color: orangered; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  animation: animate 6s ease-in-out infinite;
}


@keyframes animate {
  0%,
  100% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/1.jpg);
    height: 100vh;
  }
  9% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/2.jpg);
  }
  18% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/3.jpg);
  }
  27% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/4.jpg);
  }
  36% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/5.jpg);
  }
  45% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/6.jpg);
  }
  54% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/7.jpg);
  }
  63% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/8.jpg);
  }
  72% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/9.jpg);
  }
  81% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/10.jpg);
  }
  90% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/11.jpg);
  }
  99% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/12.jpg);
  }
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.header-container {
  align-items: center;
  width: 1200px;
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.header-container-inner {
  margin-top: 150px !important;
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p {
  font-size: 30px;
  line-height: 1.1;

  text-align: center;
  margin-top: 40px !important;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  left: 50%;
}
@media (max-width: 1000px) {
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);

    color: #fff;
    object-fit: cover;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}
@media (max-width: 700px) {
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);
    object-fit: cover;
    color: #fff;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }

  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  .MINT {
    position: absolute;
    margin-top: 80px;
    margin-left: 57%;
  }
}
@media (max-width: 415px) {
  .BACKGROUND {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 5344px;
    z-index: 12;
    background-color: #1b0a32;
  }
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);
    object-fit: contain;
    color: #fff;
    width: 100% !important;
    background-attachment: fixed;
  }
  .header-container {
    align-items: center;
    width: 80% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  .header-container-inner {
    margin-top: 150px !important;
    width: 40%;
    margin: auto;
  }
  .MINT {
    position: absolute;
    margin-top: 80px;
    margin-left: 57%;
  }
}
