@font-face {
  font-family: kghappy;
  src: url("../public/fonts/KGHAPPY.ttf");
}
.BACKGROUND {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-image: url("../public/images/layer22.png"),
    url("../public/images/layer23.png"), url("../public/images/ltop.png"),
    url("../public/images/ltop.png"), url("../public/images/layerrigth2.png");
  background-repeat: no-repeat;
  background-size: 100% 1012px, 100% 1012px, 100% 1012px, 100% 1012px;
  background-position: left 2000px, left 3400px, right 1400px, right 800px,
    right 2400px;

  width: 100%;
  /* align-items: center;
  justify-content: center; */
  
  height: 5344px;
  z-index: 12;
  background-color: #1b0a32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1b0a32;
}

.container {
  margin: 0 auto;
  width: 100%;
}
.containerb {
  margin: 0 auto;
  width: 100%;
  margin-left: 15% !important;
}
.containerroad {
  width: 1200px;
  margin: 0 auto;

}

header {
  /* background-color: orangered; */
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  animation: animate 6s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253451/avabikes/1_lx2o4b.jpg);
    
  }
  9% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253450/avabikes/11_n5u5eu.jpg);
  }
  18% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253450/avabikes/12_hbkudt.jpg);
  }
  27% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253449/avabikes/7_qgilcs.jpg);
  }
  36% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253449/avabikes/8_wwvvns.jpg);
  }
  45% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253448/avabikes/10_qpvk2e.jpg);
  }
  54% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253448/avabikes/6_lyk7m0.jpg);
  }
  63% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253448/avabikes/9_qjzwom.jpg);
  }
  72% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253446/avabikes/3_dsh2pr.jpg);
  }
  81% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253446/avabikes/2_ltnjlp.jpg);
  }
  90% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253445/avabikes/5_eotbk5.jpg);
  }
  99% {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(https://res.cloudinary.com/muzman/image/upload/v1656253445/avabikes/4_sbngnb.jpg);
  }
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;

}

.header-container {
  align-items: center;
  width: 100%;
  position: absolute;

  left: 50%;
  top: 50%;


  transform: translate(-50%, -50%);
}

.header-container-inner {
  margin-top: 150px !important;
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p {
  font-size: 30px;
  line-height: 1.1;

  text-align: center;
  margin-top: 40px !important;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  left: 50%;
}
@media (max-width: 1200px) {
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);

    color: #fff;
    object-fit: cover;
    width: 100% !important;
    animation: none;
  }
  .containerroad {
    width: 100%;
    margin: 0 auto;
  
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
 
  }
  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1000px) {
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);

    color: #fff;
    object-fit: cover;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  .container {
    margin: 0 auto;
    width: 100% !important;

  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  .containerroad {
    width: 100%;
    margin: 0 auto;

  }
}
@media (max-width: 700px) {
  .containerroad {
    width: 100%;
    margin: 0 auto;
  
  }
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);
    object-fit: cover;
    color: #fff;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }

  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 800px !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }

}
@media (max-width: 415px) {
  .containerroad {
    width: 100%;
    margin: 0 auto;
  
  }
  .BACKGROUND {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-repeat: no-repeat;
    margin: auto;
    width: 100% !important;
    height: 5344px;
    z-index: 12;
    background-color: #1b0a32;
  }
  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(34, 34, 34, 0),
        rgba(48, 34, 62, 0.682)
      ),
      url(../public/images/main-page-gif_high.png);
    object-fit: contain;
    color: #fff;


  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  nav {
    font-size: 20px;

    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-container {
    align-items: center;
    width: 100% !important;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  .header-container-inner {
    margin-top: 150px !important;
    width: 100%;
    margin: auto;
  }
  .header-container-inner img{
    height: 150px !important;
    width: 400px !important;
  }
  
}
